/*Universals*/

body {
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-left: 35%;
  font-family: 'Roboto Sans';
  font-weight: 700;
  font-size:3em;
  color:#6D6E71;
}

span {
  color:#00A79D;
}

input {
  margin-top: 4%;
  width:100%;
  font-family: 'Open Sans';
  font-size: 1.5em;
}

li {
  padding:10px;
  font-family: 'Open Sans';
}

button {
  /*width:40px;*/
  background: transparent;
  border:none;
}

/*Main layout*/

.main {
  display: flex;
  height: 50%;
  justify-content:center;
  align-items:center;
  background-color: #E5F3F2;
}

.search-section {
  display:flex;
  justify-content: center;
}

.card-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/*Content in .main*/

.main-content{
  padding-top: 5%;
}

.save-btn {
  margin-top: 30px;
  margin-bottom: 5%;
  border: none;
  width: 100%;
  background-color: #00A79D;
  font-family: 'Open Sans';
  font-size: 1.5em;
  color: white;

}
.save-btn:hover {
  background-color: #045E55;
}

.save-btn[disabled] {
  background-color: lightgrey;
}

/*Content in .search-section*/

.search-input {
  margin-top: 4%;
  margin-right: 250px;
  margin-bottom: 4%;
  width: 100%;

}

/*Content in .card-section*/

.idea-card {
  position: relative;
  margin-bottom: 4%;
  border-bottom: 2px solid #D1D3D4;
  padding: 10px;
  width: 65%;
  font-family: 'Open Sans';
}

.li-title {
  display:inline-block;
  color: #6D6E71;
  font-weight:700;
  font-size: 1.5em;
}

.delete-btn {
  float:right;
  background: url(../images/delete.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background: url(../images/delete-hover.svg);
  cursor: pointer;
}

.complete-btn {
  position: absolute;
  bottom: 15px;
  right: 5px;
  padding: 5px;
  background-color: #939598;
  border-radius: 2px;
  box-shadow: 0 2px .5px #939598;
  color: #fff;
  cursor: pointer;
}

.complete-btn:hover,
.complete-btn:focus {
  border: none;
  color: #fff;
  background-color: lightgreen;
}


.li-body {
  color: #939598;
  line-height: 150%;
}

.complete {
  background-color: lightgrey;
}

.li-id {
  display: none;
}

.li-importance{
  display:inline-block;
  color: #6D6E71;
}

.up-btn {
  margin-left: 10px;
  background: url(../images/upvote.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.up-btn:hover {
  background: url(../images/upvote-hover.svg);
  cursor: pointer;
}

.down-btn {
  margin-left: 10px;
  background: url(../images/downvote.svg);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.down-btn:hover {
  background: url(../images/downvote-hover.svg);
  cursor: pointer;
}

#key-number {
  display: none;
}
