body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: lightgrey;
}

h1 {
  padding: 10px 0;
  color: #CEE3E8;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

span {
  color: #5c9b87;
}

input {
  display: block;
  margin: 10px auto;
  padding: 2px;
  width: 95%;
  font-family: 'Open Sans';
  font-size: 1.25em;
  border: none;
}

li {
  padding:10px;
  font-family: 'Open Sans';
}

button {
  background: transparent;
  border:none;
}

label {
  display: none;
}

/*Main layout*/

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}

.main-content{
  padding: 25px 10px;
  background-color: #2b375b;
}

#form-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-section,
.card-section {
  padding: 20px;
}

.char-count {
  width: 95%;
  margin: -5px 0 10px 0;
  color: #CEE3E8;
  text-align: right;
}

.filter-wrap {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.filter-btn {
  width: 15%;
  padding: 5px 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.clear-filter {
  background-color: #000000;
}



#none-btn {
  background-color: #666666;
}

#low-btn {
  background-color: #2b375b;
}

#normal-btn {
  background-color: #356a5b;
}

#high-btn {
  background-color: #d97808;
}

#critical-btn {
  background-color: #9d0202;
}

/*Save Button*/

.save-btn {
  display: block;
  margin: 0 auto;
  width: 95%;
  background-color: #356a5b;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
}
.save-btn:hover {
  background-color: #6b8e83;
}

.save-btn[disabled] {
  background-color: #959494;
  cursor: default;
}

/*Search Section*/

.search-input {
  margin: 10px auto 20px auto;
  width: 100%;
  border: 1px solid #D1D3D4;
}

/*Content in .card-section*/

.idea-card {
  position: relative;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  border: 1px solid #D1D3D4;
  border-radius: 2px;
  font-family: 'Open Sans';
}

.task-title {
  margin: 35px 0 5px 0;
  padding: 5px 0 5px 3px;
  color: #474747;
  font-weight:700;
  font-size: 1.25em;
}

.task-body {
  margin: 5px 0 10px 0;
  padding: 5px 0 5px 3px;
  color: #474747;
}

.task-importance {
  color: #6D6E71;
  font-size: 1em;
}

.task-quality {
  color: #356a5b;
  font-weight: bold;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Task Card Buttons */

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/delete.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background: url(../images/delete-hover.svg);
  cursor: pointer;
}

.btn-wrap {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.checkmark {
  padding: 0 5px 0 0;
  height: 15px;
  width: 15px;
}

.show-complete,
.show-more {
  padding: 8px;
  background-color: #356a5b;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: .8em;
}

.show-complete:disabled,
.show-complete:disabled:hover,
.show-more:disabled,
.show-more:disabled:hover {
  background-color: #959494;
  cursor: default;
}

.show-complete:hover,
.show-more:hover {
  border: none;
  color: #fff;
  background-color: #5b9283;
}

.show-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.complete-btn  {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 5px 8px;
  background-color: #474747;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.complete-btn:hover {
  color: #fff;
  background-color: #6b8e83;
}

.completed {
  background-color: #356a5b;
}

/* Completed Task Styling */

.complete {
  background-color: #e8e8e8;
}

.up-btn {
  margin: 0 5px 0 0;
  background: url(../images/upvote.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.up-btn:hover {
  background: url(../images/upvote-hover.svg);
  cursor: pointer;
}

.down-btn {
  margin-right: 10px;
  background: url(../images/downvote.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.down-btn:hover {
  background: url(../images/downvote-hover.svg);
  cursor: pointer;
}


@media screen and (min-width: 468px) {
  header,
  .search-section,
  .card-section {
    width: 468px;
    margin: 0 auto;
  }

}
