body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #222;
}

h1 {
  padding: 10px 0;
  color: #6D6E71;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 3em;
  text-align: center;
}

span {
  color:#00A79D;
}

input {
  display: block;
  margin: 15px auto;
  width: 95%;
  font-family: 'Open Sans';
  font-size: 1.5em;
}

li {
  padding:10px;
  font-family: 'Open Sans';
}

button {
  background: transparent;
  border:none;
}

/*Main layout*/

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}

.main-content{
  padding: 25px 10px;
  background-color: #E5F3F2;
}

.search-section,
.card-section {
  padding: 5%;
}

/*Save Button*/

.save-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  width: 95%;
  background-color: #00A79D;
  color: #fff;
  font-size: 1.5em;
}
.save-btn:hover {
  background-color: #045E55;
}

.save-btn[disabled] {
  background-color: lightgrey;
}

/*Search Section*/

.search-input {
  margin: 10px auto;
  width: 100%;
  border: 1px solid #D1D3D4;
}

/*Content in .card-section*/

.idea-card {
  position: relative;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  border: 1px solid #D1D3D4;
  border-radius: 2px;
  font-family: 'Open Sans';
}

.task-title {
  margin: 35px 0 5px 0;
  padding: 5px 0 5px 3px;
  color: #6D6E71;
  font-weight:700;
  font-size: 1.25em;
}

.task-body {
  margin: 5px 0 10px 0;
  padding: 5px 0 5px 3px;
  color: #939598;
}

.task-importance {
  color: #6D6E71;
  font-size: 1em;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Task Card Buttons */

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/delete.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.delete-btn:hover {
  background: url(../images/delete-hover.svg);
  cursor: pointer;
}

.complete-btn {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: lightgrey;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.checkmark {
  height: 15px;
  width: 15px;
}

.complete-btn:hover {
  border: none;
  color: #fff;
  background-color: #00A79D;
}

/* Completed Task Styling */

.complete {
  background-color: #e8e8e8;
}

.completed {
  background-color: #00A79D;
}

.up-btn {
  margin: 0 5px 0 0;
  background: url(../images/upvote.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.up-btn:hover {
  background: url(../images/upvote-hover.svg);
  cursor: pointer;
}

.down-btn {
  margin-right: 10px;
  background: url(../images/downvote.svg);
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
}

.down-btn:hover {
  background: url(../images/downvote-hover.svg);
  cursor: pointer;
}
